/*Tag Styling */

/*Add the background image, take out the margin, and set the font*/
body {
    background-image: url('../images/dust_scratches.png');
    margin:0px;
    font-family: 'Lato', sans-serif;
}

/*Set the styling for the footer and position to the bottom of the page*/
footer {
    background-image: url('../images/dust_footer.jpg');
    background-size: contain;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 20px;
    border-top: 5px solid rgba(45, 65, 130, 0.8);
}

/*Set the styling for the navigation and set it to the top of the page*/
nav {
    background-image: url('../images/dust_head.jpg');
    background-size: contain;
    position: fixed;
    top:0;
    z-index: 2;
    margin: 0;
    padding: 10px 20px 0px;
    border-bottom: 5px solid rgba(45, 65, 130, 0.8);
}

/* Font Styling */

/*headline font*/
h1 {
    height: 12px;
    padding: 17px 10px 0px;
}

h2 {
    color: rgb(45, 65, 130);
}

h4 {
    padding-top: 10px;
    color: rgb(55, 55, 55);
}

p.footer {
    color: whitesmoke;
}

button {
    border: none;
    border-color: none;
}


form {
    width: 100%;
    margin-right: 30px;
}

.col-brand {
    text-align: center;
    font-size: 30px;
    padding: 10px 20px 25px;
    color: rgb(55, 55, 55);
}

.name {
    display: inline-block;
}

.nav-link {
    color: rgb(55, 55, 55);
    margin: 50px 0px 0px;
}

#navId {
    float: right;
}

/*Link Styling*/

.nav-link:link {
    color: whitesmoke;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgba(45, 65, 130, 0.8);
    color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
}


/*Main Section Styling*/

main {
    max-width: 960px;
    padding: 20px;
    /* background-color: whitesmoke; */
    margin: 40px auto 150px;
} 

.container-title {
    text-align: center;
    font-size: 60px;
    padding: 20% 10% 35%;
}


.sub-content {
    padding: 5% 0%;
    margin: 10px auto;
    background-color: whitesmoke;
    width: 100%;
}

.form-group {
    width: 90%;
    margin: 20px auto;
    background-color: whitesmoke;
}



.btn-primary {
    background-color: rgba(45, 65, 130, 0.8);
    color: rgba(220, 220, 230, 1.0);
    margin-left: 5%;
    width: 100px;
    border: 2px solid rgba(45, 65, 130, 0);
} 

.btn-primary:hover {
    background-color: rgba(220, 220, 230, 0);
    color: rgba(45, 65, 130, 1.0);
    border: 2px solid rgba(45, 65, 130, 0.8);
}

.btn-primary:focus {
    outline: none;
}

.img-fluid {
    margin: 5%;
    width: 90%;
    border: 5px ridge rgba(220, 220, 230, 1.0);
    box-shadow: 0px 0px 0px 20px rgba(50, 50, 60, 1.0)
}

.desc {
    padding: 15px;
    text-align: center;
    margin-top: 20x;
    margin-bottom: 5px;
    z-index: 2;
    
}

/*ID Styling */

#title-border {
    background-image: linear-gradient(to right, rgba(45, 65, 130, 0.8), rgba(45, 130, 59, 0.8));
    width: 50%;
    height: 6px;
    margin: 0% 0% 0% 25%;
    border-radius: 3px;
}

@media screen and (max-width: 1000px) {
    .container-title {
        text-align: center;
        font-size: 60px;
        padding: 30% 10% 35%;
    }
}

@media screen and (max-width: 768px) {
    .container-title {
        text-align: center;
        font-size: 60px;
        padding: 40% 10% 45%;
    }
}


@media screen and (max-width: 720px) {
  .col-brand {
    width: 100%;
  }

  #navId {
    float: left;
    margin: 10px 0px;
    width: 120%;
  }

  .nav-item {
    text-align: center;
    width: 21.5%;
    padding: 10px 2% 0px;
    margin: 10px 0px -10px;
  }  

  .nav-item:first-child {
      margin-left: 0px;
      width: 17%
  }

  .nav-item:last-child {
      margin-right: 0px;
      width: 20%;
  }

  .nav-link {
      margin: 0;
  }

  .nav-link:active {
    margin: 10px 0px -20px;
}

  .container-title {
    text-align: center;
    font-size: 60px;
    padding: 40% 10% 60%;
}

#title-border {
    margin: 0;
    width: 100%;
}

}

@media screen and (max-width: 350px) {
    .col-brand {
        font-size: 25px;
    }
}